<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  class="container mt-5 mx-auto max-w-lg p-4 shadow-lg rounded-lg"
>
  <h2 class="text-center text-primary mb-6 text-2xl font-semibold">Sign Up</h2>

  <app-text-input [formControl]="$any(registerForm.controls['firstName'])" label="First name"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['lastName'])" label="Last name"></app-text-input>
  <app-text-input [formControl]="$any(registerForm.controls['username'])" label="Username"></app-text-input>
  <app-text-input 
    [formControl]="$any(registerForm.controls['password'])" 
    label="Password" 
    type="password"
  ></app-text-input>
  <app-text-input 
    [formControl]="$any(registerForm.controls['confirmPassword'])" 
    label="Confirm password" 
    type="password"
  ></app-text-input>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!registerForm.valid"
    class="w-full"
  >
    Register
  </button>
  <p class="text-center mt-4">
    Already have an account?
    <a routerLink="/login" class="text-blue-600 underline">Login</a>
  </p>
</form>
