<div class="h-screen grid grid-cols-5 lg:grid-cols-12">
  <div class="col-span-5 lg:col-span-4 border-r border-gray-300 bg-gray-100">
    <div class="flex items-center p-4">
      <button mat-icon-button (click)="authService.logout()" 
        matTooltip="Logout from @{{authService.currentUser()?.user?.username}}" style="margin-top: 5px">
        <mat-icon>logout</mat-icon>
      </button>
      <form class="flex items-center p-4 w-full" autocomplete="off">
        <input
          #searchInput
          (keyup)="onSearchChange(searchInput.value)"
          placeholder="Search"
          name="search"
          class="w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg 
            focus:outline-none"
        />
      </form>
    </div>    
    <div class="overflow-y-auto">
      @if (chatService.chats().length > 0) {
        <div
          *ngFor="let chat of chatService.chats()"
          (click)="selectChat(chat)"
          class="flex items-center gap-4 p-4 cursor-pointer hover:bg-blue-50 transition"
          [class.bg-blue-100]="chat.id === activeChat?.id"
        >
          <div class="w-10 h-10 rounded-full bg-blue-200 flex items-center justify-center text-white">
            <mat-icon>person</mat-icon>
          </div>
          <div class="flex-1 min-w-0">
            <p class="font-semibold text-gray-800 truncate">{{getCompanionFullname(chat)}}</p>
            @if (chat.messages.length > 0) {
              <p class="text-sm text-gray-600 truncate">{{getLastMessage(chat)}}</p>
            }
          </div>
        </div>
      } @else {
        <p class="text-center text-gray-500 mt-4">No chats</p>
      }
    </div>
  </div>

  @if (activeChat) {
    <div class="col-span-7 lg:col-span-8 bg-white flex flex-col">
      <app-chat 
        [username]="activeChat.participants[0].username" 
        [chatId]="activeChat.id"
        (setActiveChat)="setActualActiveChat($event)"
      ></app-chat>
    </div>
  } @else {
    <div class="col-span-7 lg:col-span-8 w-full flex items-center justify-center text-gray-500">
      Select a chat to start messaging
    </div>
  }
</div>
