<div class="h-screen grid grid-cols-5 lg:grid-cols-12">
  <div class="col-span-5 lg:col-span-4 border-r border-gray-300 bg-gray-100">
    <div class="flex items-center p-4">
      <button mat-icon-button (click)="authService.logout()" 
        matTooltip="Logout from @{{authService.currentUser()?.user?.username}}" style="margin-top: 5px">
        <mat-icon>logout</mat-icon>
      </button>
      <form class="flex items-center p-4 w-full" autocomplete="off">
        <input
          #searchInput
          (keyup)="onSearchChange(searchInput.value)"
          placeholder="Search"
          name="search"
          class="w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg 
            focus:outline-none"
        />
      </form>
    </div>    
    <div class="overflow-y-auto">
      @if (chatService.chats().length > 0) {
        @for (chat of chatService.chats(); track chat.id) {
          <app-chat-item [chat]="chat" />
        }
      } @else {
        <p class="text-center text-gray-500 mt-4">No chats</p>
      }
    </div>
  </div>

  @if (chatService.activeChat()) {
    <div class="col-span-7 lg:col-span-8 bg-white flex flex-col">
      <app-chat [activeChat]="chatService.activeChat()" />
    </div>
  } @else {
    <div class="col-span-7 lg:col-span-8 w-full flex items-center justify-center text-gray-500">
      Select a chat to start messaging
    </div>
  }
</div>
