<form #chatForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-col items-center p-1 gap-2">
  <div class="w-full flex items-center gap-2">
    <input
      type="file" 
      id="files" 
      (change)="onFileSelected($event)" 
      multiple 
      accept=".jpeg,.jpg,.png,.gif,.jfif,.mp4,.avi,.mp3,.wav,.pdf,.webm" 
      hidden 
    />
    <button type="button" (click)="triggerFileUpload()"
      class="p-2 rounded-full hover:bg-gray-200 flex items-center justify-center"
      matTooltip="Allowed formats: PDFs, Images, Videos, Audios"
      matTooltipPosition="above"
      [disabled]="isLoading"
    >
      <mat-icon>attach_file</mat-icon>
    </button>
    <input
      [(ngModel)]="messageContent"
      placeholder="Write a message"
      name="messageContent"
      type="text"
      class="w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg focus:outline-none"
      (input)="validateMessageContent()"
      #messageInput="ngModel"
      required
    />
    @if (isLoading) {
      <div class="ml-3">
        <mat-progress-spinner mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner>
      </div>
    } @else {
      @if (isButtonDisabled) {
        <button 
          mat-icon-button 
          type="submit" 
          disabled 
          class="ml-2 hover:text-gray-700 transition-colors"
        >
          <mat-icon>send</mat-icon>
      </button>
      } @else {
        <button mat-icon-button type="submit" class="ml-2 hover:text-gray-700 transition-colors">
          <mat-icon>send</mat-icon>
        </button>
      } 
    }
  </div>
  @if (isButtonDisabled && (messageInput.touched || messageInput.dirty)) {
    <div class="w-full flex justify-start">
      <p class="text-left w-full text-sm text-red-600">{{errorMessage}}</p>
    </div>
  }
  @if (selectedFiles.length > 0) {
    <div class="w-full flex flex-wrap items-center justify-start bg-gray-100 p-2 rounded-lg gap-2">
      @for (file of selectedFiles; track $index) {
        <div class="file-preview flex items-center gap-2 p-2 border border-gray-300 rounded-lg bg-white shadow-sm">
          <span class="truncate text-sm max-w-[150px]" title="{{file.name}}">{{file.name}}</span>
          <button
            type="button"
            (click)="removeFile($index)"
            class="text-red-500 hover:text-red-700 flex-shrink-0"
            [disabled]="isLoading"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      }
    </div>
  }
</form>